<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"归档",titleType:"function"}}) %>

<body>
    <%-include("includes/drawer.ejs")-%>
    <Toolbar>
        <button id="binding-d1" class="icon-button hide-on-wide">
            <icon>menu</icon>
        </button>
        <p class="text-button" style="padding:0px 8px">归档</p>
    </Toolbar>
    <Paper>
        <% Cycling.value.forEach((item)=>{ -%>
            <%- include("includes/components/postcard.ejs",{item:BID[item]}) %>
        <%})-%>
        <Pagination id="e_page">
            {
                "page":"<%=Cycling.TotalCount-%>",
                "now":"<%=Cycling.LoopTime-%>",
                "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_${i}.html"
            }
        </Pagination>
    </Paper>
</body>
<script type="module" src="<%=ROOT-%>/files/meui.js"></script>
<script src="<%=ROOT-%>/files/pagination.js"></script>
<script>renderPaginationJSON(document.getElementById('e_page'))</script>
</html>