<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <%-include("includes/drawer.ejs")-%>
    <Toolbar>
        <button id="binding-d1" class="icon-button hide-on-wide">
            <icon>menu</icon>
        </button>
        <button class="text-button">
            共<%=Sorts.categories.length-%>个分类
        </button>
    </Toolbar>
    <Paper>
        <div class="d-post-container">
            <% for(let item of Cycling.value){ -%>
                <div class="d-post-card">
                    <h2 class="f_eaj"><%=item.key-%></h2>
                    <div>
                        <Container class="w_50 fo_fd1 fo_ai0">
                            <p m0>共<%=item.value.length-%>篇文章</p>
                            <p m0>最近发布于<%=BID[item.value[0]].date-%></p>
                        </Container>
                        <div class="fo_fd1 f_eaj f-1">
                            <a class="text-button" href="<%=ROOT-%>/category/s/index_<%=item.key-%>_1.html">查看</a>
                        </div>
                    </div>
                </div>
            <% } -%>
        </div>
        <Pagination id="e_page">
            {
                "page":"<%=Cycling.TotalCount-%>",
                "now":"<%=Cycling.LoopTime-%>",
                "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_${i}.html"
            }
        </Pagination>
    </Paper>
</body>
<script type="module" src="<%=ROOT-%>/files/meui.js"></script>
<script src="<%=ROOT-%>/files/pagination.js"></script>
<script>renderPaginationJSON(document.getElementById('e_page'))</script>
</html>