<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <%-include("includes/drawer.ejs")-%>
    <Toolbar>
        <button id="binding-d1" class="icon-button hide-on-wide">
            <icon>menu</icon>
        </button>
    </Toolbar>
        <Paper>
                <% Varias.value.forEach(item=>{ -%>
                    <%- include("includes/postcard.ejs",{item:BID[item]}) -%>
                <%})-%>
                <Pagination id="e_page">
                    {
                        "page":"<%=Cycling.TotalCount-%>",
                        "now":"<%=Cycling.LoopTime-%>",
                        "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_<%=Varias.keyName-%>_\\${i}.html"
                    }
                </Pagination>
        </Paper>
</body>
<script type="module" src="<%=ROOT-%>/files/meui.js"></script>
</html>