<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <UIHeader>
        <Banner>共<%=Varias.value.length-%>篇文章的分类为<%=Varias.keyName-%></Banner>
        <%- include("includes/toolbar.ejs") -%>
    </UIHeader>
        <Paper>
                <% Varias.value.forEach(item=>{ -%>
                    <%- include("includes/postcard.ejs",{item:BID[item]}) -%>
                <%})-%>
                <Pagination id="e_page">
                    {
                        "page":"<%=Cycling.TotalCount-%>",
                        "now":"<%=Cycling.LoopTime-%>",
                        "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_<%=Varias.keyName-%>_\\${i}.html"
                    }
                </Pagination>
        </Paper>
</body>
<script type="module" src="<%=ROOT-%>/files/meui.js"></script>
</html>