<!DOCTYPE html>
<html>
    <head>
        <%-include("includes/macros/meta.ejs")-%>
        <%-include("includes/macros/imports.ejs",{title:{title:"首页",titleType:"index"}}) %>
    </head>
<body>
    <script type="module" src="<%=ROOT-%>/files/meui.js"></script>
    <script type="module">
        MEUI.widgets.layout.resolveGrid();
    </script>
    <%-include("includes/macros/compkit_dwt.ejs")-%>
    <Paper>
        <layout @grid col="2 50%" colM="1">
            <% Sorts.RecentPosts.forEach((item)=>{ -%>
                <%- include("includes/components/postcard.ejs",{item:BID[item]}) %>
            <%})-%>
        </layout>
    </Paper>
</body>
</html>