<!DOCTYPE html>
<html>
    <head>
        <%-include("includes/macros/meta.ejs")-%>
        <%-include("includes/macros/imports.ejs",{title:{title:"首页",titleType:"index"}}) %>
    </head>
    <body style="background-image: url(<%-ROOT-%><%- post.imageUrl -%>)" @bg.fit Opecal-OverrideTheme>
        <%-include("includes/macros/compkit_dwtp.ejs",{toolbar:{content:post.title}})-%>
        <url><%=post.pathto-%></url>
        <Paper @bg.acrylic>
            <div class="M3tk-ContentBox HJ-gMdR" id="markdown_fillContent">
            </div>
        </Paper>
    </body>
    <script type="module" src="<%=ROOT-%>/files/meui.js"></script>
    <script type="module">
        hljs.highlightAll();
    </script>
    <script src=" https://cdn.jsdelivr.net/npm/markdown-wasm@1.2.0/dist/markdown.min.js "></script>
    <script>
        const markdown_raw_file = fetch('<%=ROOT-%>/<%=post.pathto-%>');
        window['markdown'].ready.then(markdown=>{
            markdown_raw_file.then(resp=>{
                resp.text().then(data=>{
                    document.getElementById('markdown_fillContent').innerHTML = markdown.parse(data.replace(/---\n[\s\S]*?\n---\n/,''));
                })
            });
        })
    </script>
</html>