<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:post.title,titleType:"read"}}) %>
    <body style="background-image: url(<%-ROOT-%><%- post.imageUrl -%>)" @bg.fit>
        <%-include("includes/macros/compkit_dwtp.ejs",{toolbar:{content:post.title}})-%>
        <Paper @bg.acrylic>
            <div class="M3tk-ContentBox HJ-gMdR">
                <%- post.parsedContent %>
            </div>
        </Paper>
    </body>
    <script type="module" src="<%=ROOT-%>/files/meui.js"></script>
    <script type="module">
        MEUI.compkits.dwt();
        hljs.highlightAll();
    </script>
</html>