<html>
<%- include("includes/head.ejs",{title:{title:post.title,titleType:"read"}}) %>

    <body>
        <%-include("includes/drawer.ejs")-%>
        <Toolbar>
            <button id="binding-d1" class="icon-button hide-on-wide">
                <icon>menu</icon>
            </button>
            <h3><%= post.title -%></h3>
        </Toolbar>
        <Paper>
            <div class="M3tk-ContentBox HJ-gMdR">
                <%- post.parsedContent %>
            </div>
        </Paper>
        <script>
            hljs.highlightAll();
        </script>
    </body>
    <script type="module" src="<%=ROOT-%>/files/meui.js"></script>
</html>