<!DOCTYPE html>
<html>
    <head>
        <%-include("includes/macros/meta.ejs")-%>
        <%-include("includes/macros/imports.ejs",{title:{title:"首页",titleType:"index"}}) %>
    </head>
    <body style="background-image: url(<%-ROOT-%><%- post.imageUrl -%>)" @bg.fit>
        <%-include("includes/macros/compkit_dwtp.ejs",{toolbar:{content:post.title}})-%>
        <Paper @bg.acrylic>
            <div class="M3tk-ContentBox HJ-gMdR">
                <%- post.parsedContent %>
            </div>
        </Paper>
    </body>
    <script type="module" src="<%=ROOT-%>/files/meui.js"></script>
    <script type="module">
        hljs.highlightAll();
    </script>
</html>