<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"统计",titleType:"index"}}) %>

<body>
    <%-include("includes/drawer.ejs")-%>
    <Toolbar>
        <button id="binding-d1" class="icon-button hide-on-wide">
            <icon>menu</icon>
        </button>
    </Toolbar>
    <Paper>
        <layout grid col="2 50%" colM="1">
            <card class="d-status-c-np">
                <a class="d-status-a" href="<%=ROOT-%>/archive/index_1.html">
                    <h3>归档</h3>
                    <h4>共更新<%=Sorts.byDefault.length-%>篇博客</h4>
                    <span class="button atRB">
                        <icon>arrow_outward</icon>
                    </span>
                </a>
            </card>
            <card class="d-status-c-np">
                <a class="d-status-a" href="<%=ROOT-%>/category/index_1.html">
                    <h3>分类</h3>
                    <h4>共包含<%=Sorts.categories.length-%>个分类</h4>
                    <span class="button atRB">
                        <icon>arrow_outward</icon>
                    </span>
                </a>
            </card>
            <card>
                <h3>更新</h3>
                <h4>构建时间：<br/><%=date-%></h4>
            </card>
            <card>
                <h3>主题</h3>
                <h4>Hogger with Next theme v1.0</h4>
                <h4>@meui</h4>
            </card>
        </layout>
    </Paper>
</body>
<script type="module" src="<%=ROOT-%>/files/meui.js"></script>
</html>