mixin post(post)
    - let item = post
    .Card._
        a.Heading.onbrand(href=file(item.path('website')))= item.title
        .less!= item.foreword
        .meta
            span.p8= item.date.toLocaleDateString(settings.language,{dateStyle:'full'})
            span.p8= item.category
            span.p8= item.wordCount+i18n('Characters')
    hr

include /mixins/components.pug