<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"归档",titleType:"function"}}) %>

<body>
    <Header>
        <%- include("includes/nav.min.ejs",{Left:'共'+Posts.length+'篇文章',Center:'归档总览'}) -%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
                <% CYCLE.PostsThisPage.forEach(item=>{ -%>
                    <%- include("includes/postcard.min.ejs",{item:BID[item]}) %>
                <%})-%>
                <Widget direct="Row">
                    <%if(CYCLE.Time!=1){%><a class=action href="<%=ROOT-%>/<%=CYCLE.PrevPage-%>">上一页</a><%}%>
                    <textlabel>第<%=CYCLE.Time-%>页，共<%=CYCLE.Total-%>页</textlabel>
                    <%if(CYCLE.Time!=CYCLE.Total){%><a class=action href="<%=ROOT-%>/<%=CYCLE.NextPage-%>">下一页</a><%}%>
                </Widget>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about.ejs") %>
                <%- include("includes/announcement.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>