<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"归档",titleType:"function"}}) %>

<body>
    <Header>
        <%- include("includes/nav.min.ejs",{Left:'共'+Posts.length+'篇文章',Center:'归档总览'}) -%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
                <% CYCLE.PostsThisPage.forEach(item=>{ -%>
                    <%- include("includes/postcard2.ejs",{item:BID[item]}) %>
                <%})-%>
                <Pagination id="e_page">
                    {
                        "page":"<%=CYCLE.Total-%>",
                        "now":"<%=CYCLE.Time-%>",
                        "link":"<%=ROOT-%>/<%=CYCLE.PageDestinationPrefix-%>/index${i}.html"
                    }
                </Pagination>
                <script>buildPaginationJSON("e_page")</script>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about2.ejs") %>
                <%- include("includes/announcement.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>