<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <Header>
        <%- include("includes/nav.ejs",{Left:'共'+CategoryPosts.length+'个分类',Center:'分类总览'}) -%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
            <% CategoryPosts.forEach(Cg=>{ -%>
                <Component class="fo_fd1">
                    <h2> <%= Cg.cate -%> </h2>
                    <FBox class="fo_fd1 w_90">
                        <% Cg.incl.forEach(item=>{ -%>
                        <% item = BID[item] -%>
                        <div wt1>
                            <a class="button" href="<%=ROOT-%>/<%=item.path-%>"><%=item.title-%></a>
                            <small>发布于<%= item.date -%>，共享协议: <%= item.cc?(item.cc!="PRIVATE"?"CC-"+item.cc:"私有"):"CC-BY-SA" -%></small>
                            <Text>
                                <%- item.less -%>
                            </Text>
                        </div>
                        <hr>
                        <% }) -%>
                    </FBox>
                </Component>
            <%})-%>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>