<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <Header>
        <%#- include("includes/nav.ejs",{Left:{type:'text',value:'共'+CategoryPosts.length+'个分类'},Center:{type:'text',value:'分类总览'}}) -%>
        <%- include("includes/nav.ejs",{Left:'共'+CategoryPosts.length+'个分类',Center:'分类总览'}) -%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
                <Widget>
                    <% CategoryPosts.forEach(Cg=>{ -%>
                    <h2> <%= Cg.cate -%> </h2>
                    <FBox dirC wt.9>
                        <% Cg.incl.forEach(item=>{ -%>
                        <% item = BID[item] -%>
                        <div wt1>
                            <Action onclick="window.open('/<%= item.path -%>')"><%= item.title -%></Action>
                            <small>发布于<%= item.date -%>，共享协议: <%= item.cc?(item.cc!="PRIVATE"?"CC-"+item.cc:"私有"):"CC-BY-SA" -%></small>
                            <Text>
                                <%- item.less -%>
                            </Text>
                        </div>
                        <hr>
                        <% }) -%>
                    </FBox>
                    <%})-%>
                </Widget>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>