<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <Header>
        <%- include("includes/nav.ejs",{Left:'共'+Varias.value.length+'篇文章',Center:'分类:'+Varias.keyName}) -%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
                <% Varias.value.forEach(item=>{ -%>
                    <%- include("includes/postcard2.min.ejs",{item:BID[item]}) -%>
                <%})-%>
                <Pagination id="e_page">
                    {
                        "page":"<%=Cycling.TotalCount-%>",
                        "now":"<%=Cycling.LoopTime-%>",
                        "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_<%=Varias.keyName-%>_${i}.html"
                    }
                </Pagination>
                <script>buildPaginationJSON("e_page")</script>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>