<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"首页",titleType:"index"}}) %>

<body>
    <header class="M3tk-E-RootBar ME-RootBar">
        <%-include("includes/toolbar.ejs")%>
    </header>
    <Paper>
        <% RecentPosts.forEach(item=>{ -%>
            <%- include("includes/postcard.ejs",{item}) %>
        <%})-%>
    </Paper>
    <PaperContent>
        <%- include("includes/about.ejs") %>
        <hr>
        <%- include("includes/announcement.ejs") %>
        <hr>
        <%- include("includes/calendar.ejs") %>
    </PaperContent>
</body>
    <script>
        $.loadAll();
    </script>
</html>