<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:"首页",titleType:"index"}}) %>

<body>
    <Header>
        <%-include("includes/nav.ejs",{Left:user.name,Center:"_LOK_NONE"})%>
    </Header>
    <FlexMain>
        <Article>
            <Shell>
                <% RecentPosts.forEach(item=>{ -%>
                <%- include("includes/postcard.ejs",{item}) %>
                <%})-%>
            </Shell>
        </Article>
        <Aside>
            <Box>
                <%- include("includes/about.ejs") %>
                <%- include("includes/gitalk.min.ejs") %>
                <%- include("includes/announcement.ejs") %>
                <%- include("includes/calendar.ejs") %>
            </Box>
        </Aside>
    </FlexMain>
</body>

</html>