<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:post.title,titleType:"read"}}) %>

<body>
    <UIHeader>
        <Banner>
            发布于 <%= post.date -%>, 作者： <%= post.author?post.author:user.name -%>
        </Banner>
        <%#include("includes/nav.ejs",{Left:'_LOK_STAND',Center:'<b style="font-size:larger;font-weight:bolder">'+post.title+'</b>'}) -%>
        <%- include("includes/toolbar.ejs") -%>
    </UIHeader>
        <Paper>
            <div class="M3tk-ContentBox">
                <%- post.content %>
            </div>
        </Paper>
        <PaperContent>
            <h3 m0>目录</h3>
            <div class="M3tk-R-Content"></div>
            <hr>
            <%- include("includes/about.ejs") %>
            <hr>
            <%- include("includes/friendlink.ejs") %>
            <%- include("includes/cc2.ejs",{cc:post.cc?post.cc:"BY-SA"}) %>
        </PaperContent>
        <script>$.loadAll(true)</script>
</body>
</html>