<!DOCTYPE html>
<html>
<%- include("includes/head.ejs",{title:{title:post.title,titleType:"read"}}) %>

<body>
    <Header>
        <Banner>
            发布于 <%= post.date -%>, 作者： <%= post.author?post.author:user.name -%>
        </Banner>
        <%-include("includes/nav.ejs",{Left:'_LOK_STAND',Center:'<b style="font-size:larger;font-weight:bolder">'+post.title+'</b>'}) -%>
    </Header>
    </Header>
    <FlexMain>
        <article>
            <Text class="postText">
                <%- post.content %>
            </Text>
        </article>
        <aside>
            <Box>
                <%- include("includes/about.ejs") %>
                <%- include("includes/friendlink.ejs") %>
                <%- include("includes/cc2.ejs",{cc:post.cc?post.cc:"BY-SA"}) %>
            </Box>
        </aside>
    </FlexMain>
</body>

</html>