<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.8.0/gitalk.css"> 
<script src="https://cdn.bootcdn.net/ajax/libs/gitalk/1.8.0/gitalk.js"></script> 
<Widget>
    <div id="e_gitalk" wt.9>
    </div>
    <script>
         var gitalk = new Gitalk({
            clientID: '<%=widgets.comment.gitalk.clientID-%>',   
            clientSecret: '<%=widgets.comment.gitalk.clientSecret-%>',   
            repo: '<%=widgets.comment.gitalk.repo-%>',   
            owner: '<%=widgets.comment.gitalk.owner-%>',   
            admin: ['<%=widgets.comment.gitalk.owner-%>'],   
            id: "BANDARIAL GITALK", 
            distractionFreeMode: true  
        })  

    gitalk.render('e_gitalk')
    </script>
</Widget>