include /mixins/components.pug

- let linkPrefix = (buildMode=='devel'||!settings.cdn)?(v)=>file(v):(v)=>settings.cdn+v
- let colors = ['blue','green','yellow','orange','red','purple','brown']

mixin postcard(item)
    include /components/postcard.pug

mixin post_li(item)
    include /components/li.post.pug 

mixin meta(des,key)
    link(rel="icon",href=file("files/icon.svg"))
    meta(charset="utf-8")
    meta(name="viewport",content="width:device-width,initial-scale=1.0")
    meta(name="author" content=user.name)
    meta(name="description" content=des.toString())
    meta(name="keywords" content=Array.isArray(key)?key.join(" "):key)
    meta(http-equiv="content-language" content=settings.language)

mixin base()
    link(rel="stylesheet",href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet",href=linkPrefix('/files/mod.css'))
    link(rel="stylesheet",href=linkPrefix('/files/widgets.css'))
    link(rel="stylesheet",href=linkPrefix('/files/location.css'))
    link(rel="stylesheet",href=linkPrefix('/files/card.css'))
    script(src=linkPrefix('/files/ui.js'))

mixin gbase()
    link(rel="stylesheet",href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet",href='https://fastly.jsdelivr.net/gh/0xarch/Wark/src/GNOME.colors.css')
    link(rel="stylesheet",href='https://fastly.jsdelivr.net/gh/0xarch/Wark/src/GNOME.defs.css')
    link(rel="stylesheet",href='https://fastly.jsdelivr.net/gh/0xarch/Wark/src/GNOME.preframe.css')
    link(rel="stylesheet",href=linkPrefix('/files/modg.css'))
    link(rel="stylesheet",href=linkPrefix('/files/Cantarell/stylesheet.css'))

mixin gnome_header(__prov_map)
    include /includes/gnome_header.pug

mixin gnome_footer()
    include /includes/gnome_footer.pug