<Widget bg="color">
    <Container dirC>
        <img src="<%=user.avatar-%>" wt.8 tag="Avatar">
        <h3>
            <a class=action href="<%=user.url-%>"><%=user.name-%></a>
        </h3>
    </Container>
    <Container !center wt1 Em3et>
        div.f-1,
            p,:文章:.
            p,:<%= Posts.length -%>:.
        .
        div.f-1,
            p,:分类:.
            p,:<%= CategoryPosts.length -%>:.
        .
    </Container>
</Widget>