<Widget bg="color">
    <Container dirC>
        <img src="<%=user.avatar-%>" wt.8 tag="Avatar">
        <h3>
            <a class=action href="<%=user.url-%>"><%=user.name-%></a>
        </h3>
    </Container>
    <Container !center wt1>
        <div class="f-1">
            <p>文章</p>
            <p><%= Posts.length -%></p>
        </div>
        <div class="f-1">
            <p>分类</p>
            <p><%= CategoryPosts.length -%></p>
        </div>
    </Container>
</Widget>