<Widget direct="Column">
    <Container direct="Column">
        <img src="<%=user.avatar-%>" style="width:80%;object-fit: fill;">
        <h3>
            <a class=action href="<%=user.url-%>"><%=user.name-%></a>
        </h3>
    </Container>
    <hr>
    <Container style="width: 100%;text-align: center">
        <div style="flex:1">
            <p>文章</p>
            <p><%= Posts.length -%></p>
        </div>
        <hr type=Blank style="flex:.5">
        <div style="flex:1">
            <p>分类</p>
            <p><%= categoryPosts.length -%></p>
        </div>
    </Container>
</Widget>