<div class="fo_fd1">
    <Container class="fo_fd1">
        <img src="<%=user.avatar-%>" class="w_80 avatar">
        <h3>
            <a class="M3tk-Button M3tk-HlClick" href="<%=user.url-%>"><%=user.name-%></a>
        </h3>
    </Container>
    <Container !center class="w_100">
        <div class="f-1">
            <p>文章</p>
            <p><%=Posts.length-%></p>
        </div>
        <div class="f-1">
            <p>分类</p>
            <p><%=CategoryPosts.length-%></p>
        </div>
    </Container>
</div>