<Widget>
    <Wind>
        <Label><Text>评论</Text></Label>
        <Content>
            <div id="e_gitalk" wt.9>
            </div>
        </Content>
    </Wind>
    <script>
         var gitalk = new Gitalk({
            clientID: '<%=lookAndFeel.comment.gitalk.clientID-%>',   
            clientSecret: '<%=lookAndFeel.comment.gitalk.clientSecret-%>',   
            repo: '<%=lookAndFeel.comment.gitalk.repo-%>',   
            owner: '<%=lookAndFeel.comment.gitalk.owner-%>',   
            admin: ['<%=lookAndFeel.comment.gitalk.owner-%>'],   
            id: "BANDARIAL GITALK",      // 请确保你的 location 连接小于 50 个字符，否则，插件会生成失败   
            distractionFreeMode: true // 专注模式 
        })  

    gitalk.render('e_gitalk')
    </script>
</Widget>