<head>
    <link rel="stylesheet" href="https://0xarch.github.io/mata-toolkit/mata-css/mata.css">
    <script src="https://0xarch.github.io/mata-toolkit/mata-js/mata.js"></script>
    <script src="<%=ROOT-%>/theme/main.js"></script>
    <link rel="stylesheet" href="<%=ROOT-%>/theme/main.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css'>
    <script src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js'></script>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/gitalk/1.8.0/gitalk.css"> 
    <script src="https://cdn.bootcdn.net/ajax/libs/gitalk/1.8.0/gitalk.js"></script>  
<% let Type = title.titleType -%>
    <title><%= title.title -%> <%= lookAndFeel.separator-%> <%= Type&&!["",undefined].includes(CUSTOM_TITLE[Type])?CUSTOM_TITLE[Type]:CUSTOM_TITLE.index -%></title>
</head>