<div class="sp_mp postCard">
    <h3 class="f_eaj"><%= item.title -%></h3>
    <Container class="TE-poCard-imain">
        <Text class="w_75">
            <%- item.less -%>
        </Text>
        <Container class="TE-poCard-right TA-flexColCentered">
            <TextLabel><i class="fa-regular fa-calendar"></i> <%= item.date -%></TextLabel>
            <% if(item.top==true){ -%>
                <Small>置顶文章</Small>
            <% } -%>
            <a class="button w_90" href="<%=ROOT-%><%= item.src -%>">阅读</a>
        </Container>
    </Container>
    <hr>
</div>