<Widget class="sp_mp" tag="PostCard">
    <h3 m0><%= item.title -%></h3>
    <Container class="fo_fd0 w_100">
        <Text wt1>
            <%- item.less -%>
        </Text>
        <Container class="fo_fd1" style="right:0">
            <TextLabel>发布于<%= item.date -%></TextLabel>
            <% if(item.top){ -%>
                <Small>置顶文章</Small>
            <% } -%>
            <a class="action w_90" href="<%=ROOT-%><%= item.src -%>">阅读</a>
        </Container>
    </Container>
</Widget>