<Widget space="Margin Padding" tag="PostCard">
    <a class=action href="<%=ROOT-%><%= item.src -%>" wt.9>
        <h3><%= item.title -%></h3>
    </a>
    <hr />
    <Container>
        <TextLabel>发布于<%= item.date -%></TextLabel>
        <% if(item.top){ -%>
        <Small>置顶文章</Small>
        <% } -%>
    </Container>
    <hr />
    <Text>
        <%- item.less -%>
    </Text>
</Widget>