<Widget direct="Column" space="Margin Padding" tag="PostCard">
    <a class=action href="<%=ROOT-%>/<%= item.path -%>" style="width:90%">
        <h3><%= item.title -%></h3>
    </a>
    <hr />
    <Container>
        <TextLabel>发布于<%= item.date -%></TextLabel>
        <% if(item.top){ -%>
        <Small>Topped</Small>
        <% } -%>
    </Container>
    <hr />
    <Text>
        <%- item.less -%>
    </Text>
</Widget>