<html>
<%- include("includes/head.ejs",{title:{title:"分类",titleType:"function"}}) %>

<body>
    <UIHeader>
        <Banner>共<%=Sorts.byCategory.length-%>个分类</Banner>
        <%- include("includes/toolbar.ejs") -%>
    </UIHeader>
        <Paper>
            <% for(let item of Cycling.value){ -%>
                <div class="fo_fd1 sp_m">
                    <h2 class="f_eaj"><%=item.key-%></h2>
                    <div class="MA-display_flex fo_fd0 w_100">
                        <Container class="w_50 fo_fd1 fo_ai0">
                            <p m0>共<%=item.value.length-%>篇文章</p>
                            <p m0>最近发布于<%=BID[item.value[0]].date-%></p>
                        </Container>
                        <div class="fo_fd1 f_eaj f-1" style="right:0">
                            <a class="button w_90" href="<%=ROOT-%>/category/s/index_<%=item.key-%>_1.html">查看</a>
                        </div>
                    </div>
                    <hr>
                </div>
            <% } -%>
            <Pagination id="e_page">
                {
                    "page":"<%=Cycling.TotalCount-%>",
                    "now":"<%=Cycling.LoopTime-%>",
                    "link":"<%=ROOT-%>/<%=Cycling.FileLocationPrefix-%>/index_${i}.html"
                }
            </Pagination>
            <script>buildPaginationJSON("e_page")</script>
        </Paper>
        <Sidebar>
            <%- include("includes/components/about.ejs") %>
        <Sidebar>
</body>

</html>