<html>
<%- include("includes/head.ejs",{title:{title:"首页",titleType:"index"}}) %>

<body>
    <UIHeader>
        <%-include("includes/toolbar.ejs")%>
    </UIHeader>
    <Paper>
        <% Sorts.RecentPosts.forEach((item)=>{ -%>
            <%- include("includes/postcard.ejs",{item:BID[item]}) %>
        <%})-%>
    </Paper>
    <Sidebar>
<%- include("includes/components/about.ejs") %>
        <Divider />
<%- include("includes/announcement.ejs") %>
        <Divider />
    </Sidebar>
</body>
    <script>
        $.loadAll();
    </script>
</html>