include /mixins/script.pug
doctype html
html
    head 
        +meta(user.note,user.keyword||'')
        +base()
        title= __title__(i18n('Status'),user.name)
    body(OCP='OVERRIDE')
        +topbar()
        header(class=(!theme.customEyeImageUrl)&&'nomix',style='background:'+(theme.customEyeImageUrl?'url('+theme.customEyeImageUrl+')':'var(--brand-color-75)'))
            .Heading= i18n('Status')
        #main
            .content
                .card.counter
                    .flex.jc-se.ta-c
                        .list-post
                            .heading= i18n('Articles')
                            .count= i18n(site.posts.length+' in total')
                        .list-cate
                            .heading= i18n('Categories')
                            .count= i18n(site.category_count+' in total')
                        .list-tag
                            .heading= i18n('Tags')
                            .count= i18n(site.tag_count+' in total')
                .Grid.-NoMob(style='--i:1fr 1fr')
                    .card.cate
                        .heading= i18n('All categories')
                        .flex
                            .marks
                                each i in site.used_categories
                                    a.mark=i
                    .card.tag
                        .heading= i18n('All tags')
                        .flex
                            .marks
                                each i in site.used_tags
                                    a.mark=i
                .card.update
                    .heading= i18n('Build')
                    .flex.column
                        .plain= i18n('Build time')+' '+nexo.deploy_time
                        .plain= i18n('Node.js version')+' '+NODE_CORE_VERSION
                        .plain= i18n('V8 version')+' '+NODE_V8_VERSION
                        .plain= i18n('Node.js C++ modules version')+' '+NODE_CPP_VERSION
                        .plain= i18n('Nexo version')+' '+NEXO_VERSION 
                        .plain= i18n('Nexo code')+' '+NEXO_CODE
                .card
                    header Theme
                    .flex.alc
                        != nexo.logo()
                        | Nexo with
                        .logo-of-theme
                        | Theme
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideStatusPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
        include /components/searchPanel.pug
    style.
        .counter{
            justify-content: space-evenly;
            font-size: 1.25em;
        }
        .marks{
            display: flex;
            flex-wrap: wrap;
        }
        .mark{
            padding: .15rem;
            margin: .15rem;
            font-size: 1.1em;
            background: var(--text-background);
        }