include /mixins/script.pug
doctype html
html 
    head 
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__(Varias.keyName,user.name)
    body(OCP='OVERRIDE')
        .topabr-container
            include /includes/topbar.pug
        #main 
            .content
                each bid in Varias.value.included_articles
                    - let item = ID[bid]
                    include /components/postcard.pug
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideCategoryPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        .pagination.
            {
                "page": #{Cycling.TotalCount}
                "now": #{Cycling.LoopTime}
                "link": #{__root_directory}/#{Cycling.FileLocationPrefix}/index_#{Varias.keyName}_${i}.html
            }
        include /includes/footer.pug