include /mixins/script.pug
doctype html
html 
    head 
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__('Categories',user.name)
    body(OCP='OVERRIDE') 
        nav.topbar-container
            include /includes/topbar.pug
        #main
            .content
                each item in Cycling.value
                    - v = item.value
                    .card.flex.column.alc
                        b= v.catename
                        text= v.included_articles.length
                        text= 'LAST POST:'+ID[v.included_articles[0]].ECMA262Date
                        .readmore(href=file(`/category/s/index_${v.catename}_1.html`))= 'GO'
                +foot_navigator(Cycling.TotalCount,Cycling.LoopTime,'archive')
            include /includes/sidebar.pug
        include /includes/footer.pug