include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        include /includes/base_script.pug
        +prelude(post)
        +meta(post.foreword,post.keywords)
        title= __title__(post.title,'read')
    body(OCP='OVERRIDE',style=post.imageUrl?'background-image:url('+post.imageUrl+')':null,class=post.imageUrl?'bg-filter':null)
        #url= file(post.pathto)
        .topbar-container 
            include /includes/topbar.pug
        #main(class=theme['3rd-bar']&&'multi')
            .content
                if post.old == true
                    .card
                        #markdown_fillContent
                            != post.getParsed('foreword')
                            != post.getParsed('content')
                else
                    .card.foreword.column
                        .meta= i18n('FOREWORD')
                        != post.getParsed('foreword')
                    .card
                        #markdown_fillContent!= post.getParsed('content')
                .card.readnext
                    - let __prev = ID[post.prevID] || {}
                    - let __next = ID[post.nextID] || {}
                    a.prev(href=__prev.path&&file(__prev.path('website')))=__prev.title || 'ALREADY EARLIEST'
                    a.next(href=__next.path&&file(__next.path('website')))=__next.title || 'NOT UPDATED'
            +sidebar(Plugin.hasPropertyThenOr(theme,'overridePostPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
