include /mixins/script.pug
include /mixins/post_script.pug
doctype html 
html(lang="zh")
    head 
        include /includes/base_script.pug
        +prelude(post)
        +meta(post)
        title= __title__(post.title,'read')
    body(OCP='OVERRIDE',style=post.imageUrl?'background-image:url('+post.imageUrl+')':null,class=post.imageUrl?'bg-filter':null)
        #url= file(post.pathto)
        .topbar-container 
            include /includes/topbar.pug
        #main(class=theme['3rd-bar']&&'multi')
            .content
                unless post.old == true
                    .card.foreword.column
                        .meta= i18n('Foreword')
                        != post.getParsed('foreword')
                .card
                    #markdown_fillContent
                        if post.old == true
                            != post.getParsed('foreword')
                        != post.getParsed('content')
                .card.readnext.foot-navigator
                    - let earliest = post.prevID?true:false
                    - let latest = post.nextID?true:false
                    - let __prev = ID[post.prevID] || {}
                    - let __next = ID[post.nextID] || {}
                    a(href=__prev.path&&file(__prev.path('website')),class=`prev${earliest?'':' disabled'}`)
                        .arrow='<<'
                        .nowrap=__prev.title || i18n('Already earliest')
                    a(href=__next.path&&file(__next.path('website')),,class=`next${latest?'':' disabled'}`)
                        .nowrap=__next.title || i18n('Already latest')
                        .arrow='>>'
            +sidebar(Plugin.hasPropertyThenOr(theme,'overridePostPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
