include /mixins/script.pug
doctype html
html
    head 
        +meta(user.note,user.keyword||'')
        include /includes/base_script.pug
        include /includes/css_iac.pug
        title= __title__(i18n('Status'),user.name)
    body(OCP='OVERRIDE')
        .topbar-container
            include /includes/topbar.pug
        #main
            .content
                .card.counter
                    .list-post
                        .heading= i18n('Articles')
                        .count= i18n(site.posts.length+' in total')
                    .list-cate
                        .heading= i18n('Categories')
                        .count= i18n(site.category_count+' in total')
                    .list-tag
                        .heading= i18n('Tags')
                        .count= i18n(site.tag_count+' in total')
                .card.cate.column
                    .heading= i18n('All categories')
                    .marks
                        each i in site.used_categories
                            .mark(style='--i:'+i.length)=i
                .card.tag.column
                    .heading= i18n('All tags')
                    .marks
                        each i in site.used_tags
                            .mark(style='--i:'+(i.length<5?i.length:5))=i
                .card.update.column
                    .heading| Update
                    .plain| Build time
                    .plain= nexo.deploy_time
                .card.theme.column
                    .heading| Theme
                    .plain| Nexo with Arch Theme v0.3
                    .flex.alc.fgap
                        .logo-of-theme
                        != nexo.logo
                .card.plugin.column
                    .heading| Plugin
                    .plain!=JSON.stringify(Plugin)
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideStatusPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
    style.
        .counter{
            justify-content: space-evenly;
            font-size: 1.25em;
        }
        .counter>div>.heading{
            font-size: 1.5em;
        }
        .mark{
            display: inline;
            padding: .15rem;
            margin: .15rem;
            font-size: 1.1em;
            background: hsla(calc(var(--i)*var(--i)*var(--i)*5),100%,50%,20%);
        }