include /mixins/script.pug
doctype html
html
    head 
        +meta(user.note,user.keyword||'')
        +base()
        include /includes/css_iac.pug
        title= __title__(i18n('Status'),user.name)
    body(OCP='OVERRIDE')
        +header()
        #main
            .content
                .card.counter
                    .inner.jc-se.ta-c
                        .list-post
                            .heading= i18n('Articles')
                            .count= i18n(site.posts.length+' in total')
                        .list-cate
                            .heading= i18n('Categories')
                            .count= i18n(site.category_count+' in total')
                        .list-tag
                            .heading= i18n('Tags')
                            .count= i18n(site.tag_count+' in total')
                .Grid.-NoMob(style='--i:1fr 1fr')
                    .card.cate
                        .heading= i18n('All categories')
                        .inner
                            .marks
                                each i in site.used_categories
                                    a.mark(style='--i:'+((i.length<=3?i.length:i.length%3) + Math.random()))=i
                    .card.tag
                        .heading= i18n('All tags')
                        .inner
                            .marks
                                each i in site.used_tags
                                    a.mark(style='--i:'+((i.length<=3?i.length:i.length%3) + Math.random()))=i
                .card.update
                    .heading= i18n('Build')
                    .inner.column
                        .plain= i18n('Build time')+' '+nexo.deploy_time
                        .plain= i18n('Node.js version')+' '+NODE_CORE_VERSION
                        .plain= i18n('V8 version')+' '+NODE_V8_VERSION
                        .plain= i18n('Node.js C++ modules version')+' '+NODE_CPP_VERSION
                        .plain= i18n('Nexo version')+' '+NEXO_VERSION 
                        .plain= i18n('Nexo code')+' '+NEXO_CODE
                        .plain= 'LANG '+LANG
                .card.theme
                    .heading| Theme
                    .inner.column
                        .plain| Nexo with Arch Theme v0.3
                        .flex.alc.fgap
                            .logo-of-theme
                            != nexo.logo()
                .card.plugin
                    .heading| Node.js
                    .inner.column
                        .plain!=JSON.stringify(Plugin)
            +sidebar(Plugin.hasPropertyThenOr(theme,'overrideStatusPage.primarySidebarWidgets',theme.primarySidebarWidgets))
        include /includes/footer.pug
        include /components/searchPanel.pug
    style.
        .counter{
            justify-content: space-evenly;
            font-size: 1.25em;
        }
        .marks{
            display: flex;
            flex-wrap: wrap;
        }
        .mark{
            padding: .15rem;
            margin: .15rem;
            font-size: 1.1em;
            background: hsla(calc(var(--i)*var(--i)*var(--i)*5),100%,50%,20%);
        }