.hov-on
    header
        h2
            a(href=file(item.path('website')))= item.title
    .less!= item.foreword
    .meta
        date= item.date.toLocaleDateString(settings.language,{dateStyle:'full'})
        span= item.category
        span= item.wordCount+i18n('Characters') 
hr
