.card.about.column
    .flex.column.info-1
        img(src=user.avatar)
        .name=user.name
        .describe=user.description
        .location=user.location
    .flex.p8.jcc
        a.followme= 'Follow'
    .flex.info-2
        .posts
            span= 'POSTS'
            p= allArticles.length
        .categories
            span= 'CATEGORIES'
            p= sortArticle.categories.length