.Card.__
    .inner.column
        .flex.column.alc
            img.avatar(src=user.avatar,alt=i18n('User Avatar'))
            .heading=user.name
            .describe=user.note
            .location=user.location
        .flex.p8.jcc
            a.Button.f_eaj(href=user.url,style='width:100%')= i18n('Follow')
        .flex.ta-c.jc-se.alc
            .posts
                span= i18n('Articles')
                p= site.posts.length
            .categories
                span= i18n('Categories')
                p= site.category_count
            .tags
                span= i18n('Tags')
                p= site.tag_count