.Card.__
    header
        a.Heading.onbrand(href=file(item.path('website')))= item.title
    hr
    .inner.column
        .meta
            span.p8= item.date.toLocaleDateString(settings.language,{dateStyle:'full'})
            span.p8= item.category
            span.p8= item.wordCount+i18n('Characters')
        .less!= item.foreword
        a.onbrand.readmore(href=file(item.path('website')))= i18n('Read more')
