.card.post
    if item.imageUrl
        .image-fill
            img(src=item.imageUrl)
    .detail
        .meta
            span= item.ECMA262Date
            span= item.category
            span= item.wordCount+i18n('Characters')
        a.onbrand.title(href=file(item.path('website')))= item.title
        .less!= item.foreword
        a.onbrand.readmore(href=file(item.path('website')))= i18n('Read more')