mixin add_widget(type,options)
    case type
        when 'about'
            include /components/about.pug
        when 'announcement'
            include /components/announcement.pug
        when 'recent'
            include /components/recent.pug
        when 'toc'
            include /components/toc.pug

mixin add_widgets(array)
    each item of array
        +add_widget(item)

mixin foot_navigator(total,now,name)
    .pagination
        .total= i18n(total+' Pages in total')
        .now= i18n('Page '+now+' now')
        unless total!=1
            if now!=1
                a.prev(href=file(`/${name}/index_${now-1}.html`))= `PREV<${now-1}>`
            unless now==total
                a.next(href=file(`/${name}/index_${now+1}.html`))= `NEXT<${now+1}>`

mixin sidebar(primaryWidget=theme.primarySidebarWidgets,secondaryWidget=theme.secondarySidebarWidgets)
    - let c = 0
    if theme['side_position']=='right'
        - c = 1
    div(class='sidebar-'+['l','r'][c])
        +add_widgets(primaryWidget)
    if theme['3rd_bar']
        div(class='sidebar-'+['r','l'][c])
            +add_widgets(secondaryWidget)

mixin postcard(item)
    .card.post
        if item.imageUrl
            .image-fill
                img(src=item.imageUrl)
        .detail
            .meta
                span= item.ECMA262Date
                span= item.category
                span= item.wordCount+' '+'Characters'
            a.onbrand.title(href=file(item.websitePath))= item.title
            .less!= item.parsedForeword
            a.onbrand.readmore(href=file(item.websitePath))= i18n('Read more')