include /mixins/components.pug

- let linkPrefix = (buildMode=='devel'||!settings.cdn)?(v)=>file(v):(v)=>settings.cdn+v

mixin add_widget(type,options)
    case type
        when 'about'
            include /components/about.pug
        when 'announcement'
            include /components/announcement.pug
        when 'recent'
            include /components/recent.pug
        when 'toc'
            include /components/toc.pug
        when 'contact'
            include /components/contact.pug

mixin add_widgets(array)
    each item of array
        +add_widget(item)

mixin topbar()
    include /includes/topbar.pug

mixin header()
    include /includes/topbar.pug

mixin sidebar(primaryWidget=theme.primarySidebarWidgets,secondaryWidget=theme.secondarySidebarWidgets)
    - let c = 0
    if theme['side_position']=='right'
        - c = 1
    div(class='sidebar-'+['l','r'][c])
        +add_widgets(primaryWidget)
    if theme['3rd_bar']
        div(class='sidebar-'+['r','l'][c])
            +add_widgets(secondaryWidget)

mixin sidebar2(type)
    - let primaryWidget = Plugin.hasPropertyThenOr(theme,'override'+type+'Page.primarySidebarWidgets',theme.primarySidebarWidgets)
    - let secondaryWidget = Plugin.hasPropertyThenOr(theme,'override'+type+'Page.secondarySidebarWidgets',theme.secondarySidebarWidgets)
    - let c = 0
    if theme['side_position']=='right'
        - c = 1
    aside(class='sidebar-'+['l','r'][c])
        +add_widgets(primaryWidget)
    if theme['3rd_bar']
        aside(class='sidebar-'+['r','l'][c])
            +add_widgets(secondaryWidget)

mixin postcard_deprecated(item)
    .card.post
        if item.imageUrl
            .image-fill
                img(src=item.imageUrl)
        .detail
            .meta
                span= item.ECMA262Date
                span= item.category
                span= item.wordCount+' '+'Characters'
            a.onbrand.title(href=file(item.path('website')))= item.title
            .less!= item.parsedForeword
            a.readmore.round-all(href=file(item.path('website')))= i18n('Read more')

mixin postcard(item)
    - let post = item
    include /components/postcard.pug

mixin meta(des,key)
    link(rel="icon",href=file("files/icon.svg"))
    meta(charset="utf-8")
    meta(name="viewport",content="width:device-width,initial-scale=1.0")
    meta(name="author" content=user.name)
    meta(name="description" content=des.toString())
    meta(name="keywords" content=Array.isArray(key)?key.join(" "):key)
    meta(http-equiv="content-language" content=settings.language)

mixin base()
    link(rel="stylesheet",href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.4.2/css/all.min.css")
    link(rel="stylesheet",href=linkPrefix('/files/mod.css'))
    link(rel="stylesheet",href=linkPrefix('/files/widgets.css'))
    link(rel="stylesheet",href=linkPrefix('/files/location.css'))
    link(rel="stylesheet",href=linkPrefix('/files/card.css'))
    script(src=linkPrefix('/files/ui.js'))