.topbar(style=(!theme.verticalNavbar)?'flex-direction:column':'')
    a.brand(href=file('/'))
        .logo
            if user.logo
                = user.logo
            else
                != insert_nexo_logo()
    .flex
        a.go-link(href=file())= i18n('Home')
        a.go-link(href=file('/archive/index_1.html'))= i18n('Archives')
        a.go-link(href=file('/category/index_1.html'))= i18n('Categories')
        a.go-link(href=file('/about'))= i18n('About')
        a.go-link(href=file('/status'))= i18n('Status')
        include /components/search.pug