footer
    section.list
        .alc.col
            h3= i18n('Nexo')
            ul
                li= NEXO_VERSION
                li
                    a(href='//github.com/0xarch/nexo')='Get Nexo'
            != nexo.logo()
        .alc.col
            h3= i18n('Wacal Theme')
            ul 
                li= '1.0.2'
            .logo-of-theme
    section.tac
        .copyr
            != theme.useDefaultCopyrightText?i18n(theme.copyrightText):user.copyright