<div class="about widget">
    <div class="centered">
        <img class="avatar" src="<%= info.avatar %>"/>
        <h3><a href="<%= info.url %>"><%= info.name -%></a></h3>
        <h5><%= info.note -%></h5>
    </div>
    <div class="info-data centered">
        <div class="counting-post flexItem flexRow flexJustifyCenter">
            <div class="postCount mr">
                <span>文章</span><br/>
                <span class="count"><%= ginfo.postCount %></span>
            </div>
            <div class="cateCount ml">
                <span>分类</span><br/>
                <span class="count"><%= ginfo.cateCount %></span>
            </div>
        </div>
    </div>
</div>