<card class="d-post-card">
    <a class="d-post-card-a" href="<%=ROOT-%><%= item.src -%>">
        <div class="d-post-title">
            <%= item.title -%>
        </div>
        <div class="d-post-detail">
            <div class="d-post-date">
                <%- item.JSDate.toUTCString() -%>
            </div>
            <div class="d-post-less">
                <%- item.less -%>
            </div>
        </div>
    </a>
</card>